#!/usr/local/bin/python3

activate_this = '/path/to/venv/bin/activate_this.py'

exec(compile(open(activate_this, "rb").read(), activate_this, 'exec'), dict(__file__=activate_this))

import sys
sys.path.insert(0, '/path/to/site/')

from wsgiref.handlers import CGIHandler
from app import app

CGIHandler().run(app)
